body {
  background: url("") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.register-user {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2em;
}










#greeting{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  color: white;
}
