<%- include("../partials/header"); -%>


<h1 class="area">Momentos</h1>

<p>To Sign In click <a href="/signin"><b>here!</b></a></p>

<p>To Sign up click <a href="/signup"><b>here!</b></a></p>


<%- include("../partials/footer"); -%>
