<%- include("../partials/header"); -%>

    <!-- <div id="registration-form">
      <form id="registration-form" class="" action="/registration" method="post">
        <input type="text" name="name" value="">
      </form>
    </div> -->


<div class="" id="greeting"></div>
  <div id="form-container">

  </div>



<%- include("../partials/footer"); -%>


<!-- <form class="item" action="/" method="post">
  <input autocomplete="off" type="text" name="todo" placeholder="New Item">
  <button type="submit" name="list" value=< title >>+</button>
</form> -->
