<%- include("../partials/header"); -%>

<% if(success_msg.length > 0) { %>
  <div class="alert alert-success flash-message container"><%= success_msg %></div>
<% } %>

<%- include("../partials/signInForm"); -%>

<%- include("../partials/footer"); -%>
